.my-banner img {
  width: 100%;
  object-fit: contain;
}
#amount-zero-warning {
  position: absolute;
  right: 1rem;
  text-align: right;
  color: #e92043;
  font-style: italic;
}
.navbar-nav li.nav-item {
  border-bottom: 1px solid transparent;
}
.navbar-nav li.nav-item .nav-link:hover {
  color: #ffbe3d;
}
.navbar-nav li.nav-item-active {
  border-bottom: 1px solid #ffbe3d;
}
.navbar-nav li.nav-item-active .nav-link {
  color: #ffbe3d;
}
